<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> registeration portal</h1>
<form action="{% url 'credentials:register' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"><br><br>
     <input type="text" name="first_name" placeholder="Enter your name"><br><br>
     <input type="text" name="last_name" placeholder="Enter second name"><br><br>
     <input type="email" name="email" placeholder="Enter your email address"><br><br>
     <input type="password" name="password" placeholder="Enter password"><br><br>
     <input type="password" name="password1" placeholder="Confirm password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>